*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
}
.product-img{
   width: 100%;
   height: auto;
   border-radius: 5px 5px 0px 0px;
}
.container{
    display: flex;
    justify-content: center;
    padding: 1.5rem;

   
}
.card{
    max-width: 340px;
    background-color: #fff;
    padding-bottom: 1rem;
    border-radius: 0px 0px 5px 5px;
    

}
.primary-text{
    text-transform:uppercase;
    font-family: "Montserrat" sans-serif;
    letter-spacing: 0.2rem;
    margin: 0.9rem 1.6rem;
    color: grey;
    font-size: 13px;

}
.sec-text{
    font-family: "Fraunces" sans-serif;
    margin: 0.9rem 1.6rem;
    color: grey;
}
.product-name{
   margin:0.5rem 1.3rem ;
   font-family: "Fraunces";
   line-height: 1;
}
.price-container{
    display: flex;
    margin:0.2rem 1.8rem;
}
.price{
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces";
}
.old-price{
    text-decoration:line-through;
    margin: 0.5rem 1.2rem;
    color: gray;
    font-family: "Fraunces";
    font-size: 14px;
}
button{
   margin: 0.5rem 2rem;
    width: 80%;
    padding:0.9rem;
    border:none;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 7px;
     font-family: "Montserrat" sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     gap:0.5rem        
}
button:hover{
    background-color:  hsl(158, 42%, 18%);
}

/* desktop */
@media (min-width: 768px) {
    .card{
        display: flex;
        background-color: transparent;
        max-width: 550px;
         overflow: hidden;

    }
    .product-picture{
       width: 50%;
       height: auto;
       object-fit: cover;
    }
    .product-picture img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px 0px 0px 5px;
    }
    .container{
        margin: 5rem;
    }
    .content{
        background-color: #fff;
        width: 50%;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0px 5px 5px 0px;
    }
    .product-name{
        line-height: 1;
        margin-top: 0rem;
    }
    .primary-text{
        margin-top: 2rem;
    }
}